# Supabase（supabase.com でプロジェクト作成後に取得）
PUBLIC_SUPABASE_URL=https://kicxjugcfczziczlihvt.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtpY3hqdWdjZmN6emljemxpaHZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MjI5NjgsImV4cCI6MjA4ODE5ODk2OH0.6csMKmG-D1KTa0HPvBmwPOJiPbXh5OgH2tLLnBd70go
